@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("pages/landing.css");
@import url("pages/login.css");

/* CSS variabels for reusablity across all files*/
:root {
    --playfair-display-font: "Playfair Display", serif;
    --primary-color: #00A9E0;
    --secondary-color: #40E0D0;
    --tertiary-color: #f3062a;
    --accent-color: #FFD700;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-black-matte: #2C2C2C;
    --color-black-glosy: #1C1C1C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: var(--playfair-display-font);
}

body {
    background-color: var(--color-black);
}


a {
    text-decoration: none;
    color: var(--color-white);
}

img {
    display: block;
    width: 90%;
    height: auto;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .header {
        padding-inline: 1rem;
    }

    .hero {
        margin-top: 7.5rem;
    }

    .hero__content {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero__image img {
        width: 330px;
        height: 300px;
    }

    .hero__content-up {
        transform: translateY(-1rem);
    }

    .hero__content-up:hover {
        box-shadow: 0 0 20px var(--tertiary-color);
        transform: translateY(-1rem) translateX(1.7rem);
    }
}