.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black-glosy);
    position: fixed;
    overflow: visible;
    width: 100%;
    top: 0;
    left: 0;
    padding-inline: 3rem;
}

.header::after {
    content: "";
    position: absolute;
    bottom: -7.3px;
    left: 0;
    height: 7px;
    width: 100%;
    background: linear-gradient(270deg, #00f, #0ff, #00f);
    background-size: 600% 600%;
    animation: moveBorder 5s ease infinite;
    z-index: 1;
}

@keyframes moveBorder {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    transition: transform .3s ease;
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px var(--secondary-color);
}

.header a span {
    color: crimson;
    text-shadow: 0 0 5px crimson;
}

.nav__container {
    display: flex;
    align-items: center;
    height: 4.7rem;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-btn {
    border: 2px solid var(--accent-color);
    font-size: 1.1rem;
    font-weight: 600;
    padding: .4rem;
    border-radius: 5px;
    transition: background-color .3s ease;
}

.login-btn:hover {
    background-color: var(--accent-color);
}

.signup-btn {
    border: 2px solid var(--accent-color);
    background-color: var(--accent-color);
    font-size: 1.1rem;
    font-weight: 600;
    padding: .4rem;
    border-radius: 5px;
    transition: background-color .3s ease;
}

.signup-btn:hover {
    background-color: var(--accent-color);
    filter: brightness(.97);
}

